[Unit]
Description=USB gadget (ADB+RNDIS) interface

[Service]
ExecStart=/lib/systemd/usbgadget.sh --start
RemainAfterExit=true
ExecStop=/lib/systemd/usbgadget.sh --stop

[Install]
WantedBy=multi-user.target
