[Unit]
Description=USB gadget network interface

[Service]
ExecStart=/lib/systemd/usbgadget-net.sh --start
RemainAfterExit=true
ExecStop=/lib/systemd/usbgadget-net.sh --stop

[Install]
WantedBy=multi-user.target
